accelerate==1.10.1
aenum==3.1.16
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
attrs==25.4.0
audioread==3.0.1
backoff==2.2.1
bitsandbytes==0.48.1
blake3==1.0.8
blobfile==3.1.0
build==1.3.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
click-option-group==0.5.9
colored==2.3.1
contourpy==1.3.3
cuda-bindings==12.9.3
cuda-pathfinder==1.3.1
cuda-python==12.9.3
cycler==0.12.1
datasets==3.1.0
decorator==5.2.1
diffusers==0.35.2
dill==0.3.8
distro==1.9.0
dynaconf==3.2.12
einops==0.8.1
einx==0.3.0
ema-pytorch==0.7.7
encodec==0.1.1
etcd3==0.12.0
evaluate==0.4.6
fastapi==0.115.4
filelock==3.20.0
flashinfer-python==0.2.5
fonttools==4.60.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2024.9.0
grpcio==1.75.1
h11==0.16.0
h5py==3.12.1
hf-xet==1.1.10
hjson==3.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.11
importlib_metadata==8.7.0; python_version < "3.10"
jieba==0.42.1
Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.2
kiwisolver==1.4.9
lark==1.3.0
lazy_loader==0.4
librosa==0.11.0
llguidance==0.7.29
llvmlite==0.45.1
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
meson==1.9.1
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.16
networkx==3.5
neptune==1.11.0
ninja==1.13.0
numba==0.62.1
numpy==1.26.4
nvtx==0.2.13
omegaconf==2.3.0
onnx==1.19.1
onnx_graphsurgeon==0.5.8
openai==2.3.0
opencv-python-headless==4.11.0.86
optimum==2.0.0
ordered-set==4.1.0
packaging==25.0
pandas==2.3.3
peft==0.17.1
pillow==10.3.0
platformdirs==4.5.0
polygraphy==0.49.26
pooch==1.8.2
propcache==0.4.1
protobuf==6.32.1
psutil==7.1.0
PuLP==3.3.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pycparser==2.23
pycryptodomex==3.23.0
pydantic==2.12.2
pydantic-settings==2.11.0
pydantic_core==2.41.4
pydub==0.25.1
Pygments==2.19.2
pynvml==12.0.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
regex==2025.9.18
requests==2.32.5
rich==14.2.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentencepiece==0.2.1
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
starlette==0.41.3
StrEnum==0.4.15
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.21.4
tomli; python_version < "3.11"
torch==2.7.1
torchaudio==2.7.1
torchdiffeq==0.2.5
torchprofile==0.0.4
torchvision==0.22.1
tqdm==4.67.1
transformers==4.53.1
transformers-stream-generator==0.0.5
triton==3.3.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
uvicorn==0.37.0
vocos==0.1.0
wheel==0.45.1
x-transformers==2.9.0
xgrammar==0.1.21
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
nvidia-modelopt==0.33.1
nvidia-modelopt-core==0.33.1
